<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title></title>
    <style>
        .spacer{
        float:left;
        margin: 10px 20px;
        }

        body{
            background: #ececec;
        }

        #center-content{
            width: 840px;
            margin: 0 auto;
        }

    </style>
</head>
<body>

    my inventory!!!!!
    <div id="content">

        <div id="center-content">


        <div th:each="car: ${inventory}" style="line-height:1.5; background:white;">
            <div class="spacer" th:text="${car.vin}" style="width:100px">Vin</div>
            <div class="spacer" th:text="${car.make}" style="width:50px">make</div>
            <div class="spacer" th:text="${car.model}" style="width:50px">model</div>
            <div class="spacer" th:text="${car.color}" style="width:50px">color</div>
            <div class="spacer" th:text="${car.status}" style="width:50px">status</div>
            <div class="spacer" style="width:150px"><a href="" th:href="'/inv/car/sold/'+@{${car.vin}}">Mark as sold</a>
            </div>
            <div style="clear:both"></div>
        </div>

        </div>

    </div>
</body>
</html>